@charset "UTF-8";

body {
	text-align: center;
	margin: 40px;
	background-color: #CCFFFF;
}

table {
	margin: 3px auto;
}

.AddTask {
	margin: 20px;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}