@charset "UTF-8";

body {
	text-align: center;
	margin: 40px;
	background-color: #CCFFFF;
}

.AddTask {
	margin: 20px;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.btn {
	display: inline-block;
}

.status {
	margin: 20px;
}

.status-top {
	margin-top: 20px;
}

.display {
	display: float-left;
}