<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク編集</title>
<link rel="stylesheet" type="text/css" href="/css/EditTasks.css">

</head>
<body>

	タスク編集
	<table border="1">
		<tr>
			<th>内容</th>
			<th>期限</th>
			<th>ステータス</th>

		</tr>
		<form th:action="@{/edit/{id}(id=${formModel.id})}"
			th:object="${formModel}" th:method="put">
			<tr>
				<td><textarea type="text" name="content"
					th:text="${formModel.content}" size="20" maxlength="200" /></textarea></td>
				<td><input type=date name="limit"
					value="${formModel.limit_date}">
				<td><select name="status" size="1">

						<option value="0">ステイ中</option>
						<option value="1">実行中</option>
						<option value="2">完了</option>

				</select>
				<td><input type="submit" value="更新"></td>

			</tr>
		</form>
	</table>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>