<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>TOP</title>
		<link rel="stylesheet" type="text/css" href="/css/Top.css">
	</head>
	<body>
		<div class="red">
    		<tr th:if="${errorMessages}" th:each="error : ${errorMessages}">
				<td th:text="${errorMessages}"></td>
			</tr>
		</div>
		<!-- Add Tasks page -->
		<div class="AddTask">
			<a href="/AddTasks">
				<button type="button">タスク追加</button>
			</a>
		</div>
		<!-- /Add Tasks page -->

		<!-- narrowing down of content -->
		<div>
			<form th:action="@{/search}" method="get">
				日付
				<input name="start" type="date" id="start" th:value="${start}">
				～
				<input name="end" type="date" id="end" th:value="${end}">
				<input type="submit" value="絞り込み">
			</form>
		</div>
		<!-- /narrowing of content -->

		<div th:each="task : ${tasks}">

			<!-- Divide display Yellow(after the next day) or Red(today) -->
			<div th:if="${task.limit_date lt day}" class="status-top">
				<div class="red" th:text="${task.content}"></div>
			</div>

			<div th:if="${task.limit_date gt day}" class="status-top">
				<div class="yellow" th:text="${task.content}"></div>
			</div>

			<!-- Change content of btn -->
			<form th:action="@{/update/{id}(id=${task.id})}" th:method="put">
				<div>
					<div th:if="${task.status == 0}">
						<input type="submit" value="ステイ中">
					</div>
					<div th:if="${task.status == 1}">
						<input type="submit" value="実行中">
					</div>
					<div th:if="${task.status == 2}">
						<input type="submit" value="完了">
					</div>
				</div>
			</form>
			<!-- /Change content of btn -->

			<div th:text="${#dates.format(task.limit_date,'yyyy/MM/dd')}"></div>

			<!-- /Divide display Yellow(after the next day) or Red(today)  -->

			<!-- Function of btn -->
			<div>
				<!-- Edit Tasks page -->
				<div class="btn">
					<a th:href="@{/EditTasks/{id}(id=${task.id})}">
						<button type="button">タスク編集</button>
					</a>
				</div>
				<!-- /Edit Tasks page -->

				<!-- Delete Tasks -->
				<div class="btn">
					<form th:action="@{/delete/{id}(id=${task.id})}"
						th:method="delete">
						<input type="submit" value="タスク削除" />
					</form>
				</div>
				<!-- /Delete Tasks -->
			</div>
			<!-- /Function of btn -->

		</div>
	</body>
</html>